.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  color: var(--color-bg-base);
  font-weight: 700;
}

.avatarPhoto {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
